<ul class="list-unstyled washDescription">
    <li><i class="fas fa-recycle fa-2x"></i><span class="pl-2">Lavado normal a 30°C</span></li>
    <li><i class="fas fa-recycle fa-2x"></i><span class="pl-2">No usar lejía ni ningún blanqueante</span></li>
    <li><i class="fas fa-recycle fa-2x"></i><span class="pl-2">Planchado máximo 150°C</span></li>
    <li><i class="fas fa-recycle fa-2x"></i><span class="pl-2">No limpiar en seco</span></li>
    <li><i class="fas fa-recycle fa-2x"></i><span class="pl-2">No secar en secadora</span></li>
</ul>