<div class="descriptionText">
    <div>
        <span>Ref:</span>
        <span id="reference">1TA140720</span>
    </div>
    <p>Este sujetador bandeau es perfecto para tus baños en el mar o la piscina porque podrás desmontarle los tirantes y lucirlo como más te guste.</p>
    <ul>
        <li>Corte bandeau</li>
        <li>Tirantes desmontables</li>
        <li>Copas con relleno que realzan el busto</li>
        <li>Varillas en los costados</li>
        <li>Espalda lisa</li>
        <li>Flores aplicadas en la parte superior del escote</li>
        <li>Banda de silicona para una sujeción perfecta</li>
        <li>Forrado en 100% poliéster</li>
        <li>Tejido elástico de secado rápido</li>
        <li>80% poliamida, 20% elastán</li>
    </ul>
</div>