<div id="reviews" class="row">                             
    <div class="col-12">
        <span>20/04/2020</span>
        <span class="pl-2">
            <i class="fa fa-star fa-x1 vc-color"></i>
            <i class="fa fa-star fa-x1 vc-color"></i>
            <i class="fa fa-star fa-x1 vc-color"></i>
            <i class="fa fa-star fa-x1 vc-color"></i>
            <i class="fa fa-star fa-x1 vc-color"></i>
        </span>                            
    </div>                 
    <div class="col-12 mt-2">
        <p>Me encanta, la forma que más me gusta es esta de palabra de honor, favorece mucho. El color muy alegre y me sienta muy bien. Todo lo que he pedido totalmente recomendable.</p>
    </div>
</div>