 <p class="lead text-uppercase">Quizás también te guste</p>
<div class="glider-contain">
    <div class="glider">
        <div class="prodRecommended text-center mb-4">
            <a class="d-block" href="" data-ob-directive="" data-ob-params="">
                <img src="https://www.venca.es/i/1008371/m/braga-de-bano-estampado-cachemira-anudada-con-lazos-en-los-costados" data-src="" class="lazy loaded img-fluid" alt="" loading="lazy" data-was-processed="true"><br>
                <div class="my-2">
                    <span class="font-weight-light pr-1">desde</span>
                    <span class="salePrice font-weight-bold">4,99€</span>
                </div>   
            </a>
        </div>
        <div class="prodRecommended text-center mb-4">
            <a class="d-block" href="" data-ob-directive="" data-ob-params="">
                <img src="https://www.venca.es/i/1254362/m/braga-bikini-con-lazos-laterales-y-flores" data-src="" class="lazy loaded img-fluid" alt="" loading="lazy" data-was-processed="true"><br>
                <div class="my-2">
                    <span class="font-weight-light pr-1">desde</span>
                    <span class="salePrice font-weight-bold">5,99€</span>
                </div>   
            </a>
        </div>
        <div class="prodRecommended text-center mb-4">
            <a class="d-block" href="" data-ob-directive="" data-ob-params="">
                <img src="https://www.venca.es/i/1252553/m/braga-de-bano-lisa-combinable-tejido-elastico" data-src="" class="lazy loaded img-fluid" alt="" loading="lazy" data-was-processed="true"><br>
                <div class="my-2">
                    <span class="font-weight-light pr-1">desde</span>
                    <span class="salePrice font-weight-bold">6,99€</span>
                </div>   
            </a>
        </div>
        <div class="prodRecommended text-center mb-4">
            <a class="d-block" href="" data-ob-directive="" data-ob-params="">
                <img src="https://www.venca.es/i/1267206/m/sujetador-bikini-bandeau-tirantes-desmontables" data-src="" class="lazy loaded img-fluid" alt="" loading="lazy" data-was-processed="true"><br>
                <div class="my-2">
                    <span class="font-weight-light pr-1">desde</span>
                    <span class="salePrice font-weight-bold">8,99€</span>
                </div>   
            </a>
        </div>
        <div class="prodRecommended text-center mb-4">
            <a class="d-block" href="" data-ob-directive="" data-ob-params="">
                <img src="https://www.venca.es/i/1252488/m/sujetador-bikini-triangulo-tipo-vela-con-relleno" data-src="" class="lazy loaded img-fluid" alt="" loading="lazy" data-was-processed="true"><br>
                <div class="my-2">
                    <span class="font-weight-light pr-1">desde</span>
                    <span class="salePrice font-weight-bold">4,99€</span>
                </div>   
            </a>
        </div>
        <div class="prodRecommended text-center mb-4">
            <a class="d-block" href="" data-ob-directive="" data-ob-params="">
                <img src="https://www.venca.es/i/1548819/m/braga-bikini-lisa-elastica-de-secado-rapido" data-src="" class="lazy loaded img-fluid" alt="" loading="lazy" data-was-processed="true"><br>
                <div class="my-2">
                    <span class="font-weight-light pr-1">desde</span>
                    <span class="salePrice font-weight-bold">3,99€</span>
                </div>   
            </a>
        </div>
    </div>
    <button aria-label="Previous" class="glider-prev"><i class="fas fa-chevron-left FS-15"></i></button>
    <button aria-label="Next" class="glider-next"><i class="fas fa-chevron-right FS-15"></i></button>
</div>