<div class="modal fade" id="whatIsThis" tabindex="-1" role="dialog" aria-labelledby="whatIsThisLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">                                     
            <div class="modal-body text-center borderWhatIsThat">
                <div class="mb-5">
                    <button type="button" class="close" data-dismiss="modal"aria-label="Close">
                        <span class="d-block FS-15" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div>
                    <p class="FS-1">Ahora <span class="FS-1 font-weight-bold">Venca es un Marketplace,</span> con vendedores externos que ofrecen sus productos en nuestra web.</p>
                    <p class="FS-1"><span class="FS-1 font-weight-bold">Aquí te indicamos si está vendido por Venca o por otro vendedor</span> de nuestro Marketplace.</p>
                </div>
            </div>
        </div>
    </div>
</div>