// ===== HTML & Body ===== //
*, body {
    @include LH(1.25);
    font-size: .9rem;
}

// ===== Buttons ===== //
button:focus {
    outline: none;
}

// ===== Breadcrumbs ===== //
.breadcrumb {
    background: none;;
}
.breadcrumb-item.active {
    color: #050606;
}

.glider-next, 
.glider-prev {
    @include phone {
        display: none;
    }
    @include tablet {
        display: none;
    }
}